<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="Microsoft.Xml.XMLGen" version="1.0.0" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net452" />
  <package id="RegexBuilder" version="1.0.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.13.0" targetFramework="net452" />
  <package id="Selenium.Helper" version="1.0.1" targetFramework="net452" />
  <package id="Selenium.RC" version="3.1.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.5.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.5.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.33.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Mono" version="2.45.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriverBackedSelenium" version="3.5.1" targetFramework="net452" />
  <package id="WebDriver.ChromeDriver.win32" version="2.33.0.0" targetFramework="net452" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net452" />
</packages>